@import "../../styles/abstracts/mixins";
.user-info{
    @include flex-container(space-between,center,row);
    width : 100%;
    margin-bottom: 5.6rem;

}
.user-info-content{
    @include flex-container(space-between,center,row);
  

}
.user-profile{
    width: 5.6rem;
    height: 5.6rem;
    background-color: rgb(198, 202, 203);
    border-radius: 50%;
    margin-left: 1.2rem;
}

.user-name{
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: .7rem;
}
.user-events-count{
    font-size: 1.4rem;
   font-weight: 400;
    color: #2E2F32;
}
.user-notif-icon{
    width: 2.8rem;
    height: 2.8rem;
}

@media screen and (max-width : 1440px) {
    .user-profile{
        width: 4.2rem;
        height: 4.2rem;
       
        margin-left: .9rem;
    }
    
    .user-name{
        font-size: 1.2rem;
      
        margin-bottom: .4rem;
    }
    .user-events-count{
        font-size: 1.15rem;
      
    }
    .user-notif-icon{
        width: 2.1rem;
        height: 2.1rem;
    }
    .user-info{
        margin-bottom: 4.2rem;
    }
    
}