
/* @font-face {
  font-family: "BYekan";
  src: url('../src/assets/fonts/BYekan.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BYekan";
  src: url('../../my-app/src/assets/fonts/BYekan+.woff') format('woff2');
  font-weight: normal;
  font-style: normal;
} */

/* font-face {
  font-family:"BYekan" ;
  src: url(../src/assets/fonts/BYekan+.ttf);
}

* {
  font-size: 62.5%;
  font-family: "BYekan";
  font-weight: normal;
} */
body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
