@import "../../../../styles/abstracts/mixins";
@import "../../../../styles/main";

.event-item{
   
    background-color: white;
    border-radius: 2.4rem;
    height: 10.4rem;
    @include flex-container(center,center,column);
    box-shadow: $shadow;
    
    margin-right: 2rem;  
    flex: 1;

 }


 


 
.event-item:first-child{
    margin-right: 0;
}



 @media screen and (max-width : 1440px) {
    
     .event-item{
        
       
        border-radius: 1.6rem;
        height: 7.5rem;
        width: 20rem;
        margin-right: 1.5rem;  
    
     }
    
 }